// Main Stylesheet
@tailwind preflight;
@tailwind utilities;

$font-stack: 'Lato',sans-serif;
$white-color: #fff;
$grey-color: #f1f3f2; // Core Styles
body {
    font-family: $font-stack !important;
    font-weight: normal;
    background-color: $grey-color !important;
    color: #75858f;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    background-color: transparent;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

// Header
.header {
    position: relative;
    background: #377cff;
    overflow: hidden;
    h1 {
        position: relative;
        color: #fff;
        font-size: 42px;
        text-align: center;
        margin-top: -2.8vh;
        z-index: 2;
        font-weight: 300;
        margin-bottom: 25px;
    }
    p {
        position: relative;
        z-index: 2;
        text-align: center;
        color: #b8f2ff;
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    .btn {
        position: relative;
        margin-bottom: 50px;
        z-index: 2;
        font-size: 16px;
        margin-top: 10px;
        -webkit-box-shadow: 0 1px 15px -3px rgba(0,0,0,0.35);
        -moz-box-shadow: 0 1px 15px -3px rgba(0,0,0,0.35);
        box-shadow: 0 1px 15px -3px rgba(0,0,0,0.35);
    }
    .btn a:active,
    a:hover, a:visited, a:active {
        color: #FFF;
        text-decoration: none;
    }
}
// Wrappers
.wrap {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.grey-content-wrapper {
    background: $grey-color;
    padding: 50px 0;
}
// Buttons
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}
.btn-green {
    color: #fff;
    background: #39ce00;
    background: linear-gradient(180deg,#61cd3a,#5cbb39);
    border: solid 1px #39ce00;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}
.btn-blue {
    background: #377cff;
    background: linear-gradient(180deg, #377cff, #2062da);
    border-color: #377cff;
    color: #fff;
    font-weight: 400;
}
.btn-green-small {
  background: #39ce00;
  background: linear-gradient(180deg,#61cd3a,#5cbb39);
  border: solid 1px #39ce00;
    color: #fff;
    font-weight: 400;
}
// Directory
#Directory {
    .heading {
        h2 {
            font-size: 40px;
            line-height: 42px;
            color: #303030;
            font-weight: 300;
            margin-bottom: 10px;
        }
        span {
            display: block;
            color: #888;
        }
        .sub {
            font-size: 21px;
            margin-bottom: 20px;
            font-weight: 300;
            line-height: 1.4;
        }
    }
    .heading::after {
        border-top: 3px solid #00b3ec;
        display: block;
        width: 30px;
        content: "";
        margin: 0 auto;
    }
}
//Tables
.VueTables__sort-icon {
    margin-left: 10px;
}
.VueTables__dropdown-pagination {
    margin-left: 10px;
}
.VueTables__highlight {
    background: yellow;
    font-weight: normal;
}
.VueTables__sortable {
    cursor: pointer;
    background: #FFF;
}
.VueTables__date-filter {
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}
.VueTables__filter-placeholder {
    color: #aaa;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  	#no-more-tables thead {
      display: none;
    }

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		white-space: normal;
		text-align:center;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
